# --- Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr

# --- Mac OS / Windows ---
.DS_Store
Thumbs.db

# --- Файлы и мусор самого лаунчера ---
*.exe
*.log
jre/
jre_temp.zip
update.bat
custom_mods.txt